<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>成都京东方招聘岗位_工资待遇_面试经验-成都京东方光电科技有限公司</title>
<meta name="keywords" content="成都京东方招聘,成都京东方工资待遇,成都京东方面试" />
<meta name="description" content="成都京东方光电科技有限公司近期招聘岗位信息的待遇工资、面试经验等，欢迎优秀品质的人才加入成都京东方,只要你有能力、有激情、有梦想,愿意付出,愿意与公司共同成长,请加入我们!" />   

<!-- <link type="text/css" rel="stylesheet" href="css/animate.min.css"> -->
<link type="text/css" href="<{$CUR_TPL_PATH}>boe1/bootstrap.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="<{$CUR_TPL_PATH}>boe1/style.css">
<link rel="stylesheet" type="text/css" href="<{$CUR_TPL_PATH}>boe1/engine/style.css" media="screen" />
<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/engine/jquery.js"></script>


<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0e914b0992132eb73dc27303a01ad124";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</head>

<body style="height: 100%; font-size: 100%;">
<!-- head -->
<div class="pagescroll-hd" >
	<div class="top-inner">
		<div class="left-top">
			<h2><img class="logo" src="<{$CUR_TPL_PATH}>boe1/images/logo.png" /> 四川宝航人力资源管理有限公司</h2>
				<img class="navbtn" src="<{$CUR_TPL_PATH}>boe1/images/navbtn.png" alt="" />
		</div>
		<div class="right-top">咨询电话: 15982017809</div>
	</div>
	<div class="inner">
		<ul class="nav">
			<li><a href="/boe1?sort_id=317" >首页</a></li>
			<li><a href="/boe1about?sort_id=318">公司简介</a></li>
			<li><a href="/boe1job?sort_id=319" class="bottomline">最新招聘</a></li>
			<!-- <li><a href="http://www.9115job.com/new/">新闻中心</a></li> -->
			<li><a href="/boe1address?sort_id=320">联系我们</a></li>
		</ul>
	</div>
</div>
<div style="position:relative;" class="slideshow grid_12">
	<div class="holder">
		<!-- 主体部分 -->
		<div id="wowslider-container">
			<div class="ws_images" style="width:100%">
				
				<ul>
					<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner4.png" alt="123"  title="" /></a></li>
					<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner5.png" alt="456" title="" /></a></li>
					<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner6.png" alt="789" title="" /></a></li>
					
				</ul>
			</div>
			<div class="ws_bullets">
				<div>
					<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner4.png" alt="CSS3 Slider" /></a>
					<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner5.png" alt="CSS Slideshow" /></a>
					<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner6.png" alt="CSS Gallery" /></a>
					<!--<a href="#"><img src="images/data/tooltips/slide5new.jpg" alt="Video Support" /></a>-->	</div>
			</div>
		</div>
		<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/engine/wowslider.js"></script>
		<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/engine/script.js"></script>

	</div>
</div>


<!-- 主体部分. -->
<div class="main-content">
	<div class="main-content-box job-style">
		<h3>诚聘：<span>作业员</span>	</h3>
		<h2 style="font-size: 22px;">【招聘岗位】</h2>
		<p><span>设备运维岗：自动化设备调试、维修、操作机台等；<br>品质检测岗：产品检测、产线巡检、产线6S管理等；</p>
		<p>每月能拿多少钱： 月综合收入3500-6000<br>构成：基本工资+加班工资+倒班津贴+业绩工资+其他补贴</span></p>
		<p>1、中专、高中底薪1800。<br>
			2、大专底薪1900。<br>
			3、中专、高中按1800元基数算加班工资，大专按1900元基数算加班工资，<span>平时超出8小时工作时间付1.5倍工资，法定节假日付3倍工资</span>。（轮休制轮到周末不算加班）<br>
			4、倒班津贴：<span>35元/晚</span>。<br>
			5、业绩工资：根据整体业绩给与发放0-800元不等；表现优异业绩奖金就高。<br>
			6、各种补贴。</p>
		<h2><div class="main-content-round"></div>福利及晋升空间怎么样？</h2>
		<p>1、<span>免费住宿</span>，面试通过后的第二天安排入住（水电费自理）：四-六人间，配套设施齐全（电视、空调、独立卫浴、24h热水、篮球场、羽毛球场）<br>
			2、<span>免费餐饮</span>：包三餐工作餐餐食美味且丰富，当月餐补余额以工资形式返还工资卡；（入职当天即发餐卡，刷卡就餐）<br>
			3、<span>免费班车</span>：上下班公司与公寓、市区间有来往班车。<br>
			4、<span>礼金</span>：节日礼金、生日贺金、高温补贴金100-600元不等。<br>
			5、<span>体检</span>：入职当天统一安排体检，费用66元（凭票报销），等于免费健康体检；面试当天需缴纳体检费，费用请告知求职者提前自备。<br>
			6、<span>其他补助</span>：春节300元，结婚贺金600元，丧葬慰问金600元。<br>
			7、<span>入职即买社保，每年1月、7月可申请购买公积金</span>。<br>
			8、员工→班组长→可晋升车间主管→助理工程师→工程师→高级工程师→车间经理。</p>	
		<h2><div class="main-content-round"></div>上班时间：</h2>
		<p>早八晚八/晚八早八，均需倒班、着无尘服，<span>上四休二或上六休二</span>，班次可提前告知班组意愿进行分配，岗位有坐有站。<br>
		发薪日：<span>每月15日 </span></p>
		<h2 style="font-size: 22px;">【应聘要求】</h2>
		<p>1、学历：中专、高中、大专，（本科及以上学历不能参加面试） <br>           
			2、年龄：18~35周岁。  <br>            
			3、能适应倒班及着无尘服，沟通无障碍。<br> 
			工作与面试地址相同：成都市郫都区合作路1188号（京东方2号门）</p>
		<p>ps:<span>面试通过后会现场缴纳体检费时发放纸质版offer（offer上写明了入职需带的资料，一样都不能少），在第二天上午体检，下午办理入职及入住，均不能迟到，迟到不能入职则需重新参加面试。</span></p>

		<div class="abtn">
		  	<a href="/boe1jobadd?sort_id=321" class="buttom" >立即报名</a>
		</div>
	</div>
</div>

<div class="foot">
  版权所有：四川宝航人力资源管理有限公司&nbsp;&nbsp;&nbsp;&nbsp;网站备案号：蜀ICP备17041877号-2   
</div>
<script>
	$('.navbtn').click(function(event) {
		$('.inner').toggleClass('innering')
	});
	
</script>
</body>
</html>