
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <{include file="defualt/public/seo.html"}>
    <link href="<{$CUR_TPL_PATH}>css/bootstrap.css" rel="stylesheet">
    <link href="<{$CUR_TPL_PATH}>layui/css/layui.css" rel="stylesheet">
    <link href="<{$CUR_TPL_PATH}>css/main.css" rel="stylesheet">
    <script src="<{$CUR_TPL_PATH}>js/flexable.js"></script>
</head>
<body>
    <!--导航区域-->
    <div class="bh_nav_box">
        <{include file="defualt/public/header.html"}>
    </div>

    <!--banner区域-->
    <div class="bh_banner bh_banner-product">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="<{$banner['lianjie']}>" target="_blank">
                        <img class="banner_07" src="<{$banner['suoluetu']}>" alt="">
                    </a>
                    <!-- <img class="banner_07_small" src="<{$banner['shoujiduantupian']}>" alt=""> -->
                    <div class="carousel-caption"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="swiper-product">
        <a href="<{$banner['lianjie']}>">
            <img src="<{$banner['shoujiduantupian']}>" alt="<{$banner['tupianalt']}>">
        </a>
    </div>

    <!--内容区域-->
    <div class="bh_recruitment_container">
        <!--面包屑导航-->
        <div id="nav_crumbs8">
            <a href="/"><{$sortList[0]['u1']}>></a>
                <a href="<{$sortList[6]['u5']}>"><{$sortList[6]['u1']}>
                </a>

        </div>
        <ul class="bh_recruitment_tit clearfix">
            <li>职位名称</li>
            <li>工作单位</li>
            <li>工作地点</li>
            <li>招聘人数</li>
            <li>发布时间</li>
            <li>我要应聘</li>
        </ul>
        <{foreach $tableList as $k=>$v}>
            <{if $k==0}>
                <ul class="bh_recruitment_content  clearfix">
                    <li><{$v['zhiweimingcheng']}></li>
                    <li><{$v['gongzuodanwei']}></li>
                    <li><{$v['gongzuodidian']}></li>
                    <li><{$v['zhaopinrenshu']}></li>
                    <li><{mb_substr($v['fabushijian'],0,10)}></li>
                    <a class="apply" href="/recruitment/ying?sort_id=314&id=<{$v['id']}>">应聘</a>
                    <a class="an" href="javascript:;">展开</a>
                    <li>
                        <div class="recruitment_text">
                            <{html_entity_decode($v['neirong'])}>
                        </div>
                    </li>
                </ul>
            <{else}>
                <ul class="bh_recruitment_content clearfix">
                    <li><{$v['zhiweimingcheng']}></li>
                    <li><{$v['gongzuodanwei']}></li>
                    <li><{$v['gongzuodidian']}></li>
                    <li><{$v['zhaopinrenshu']}></li>
                    <li><{mb_substr($v['fabushijian'],0,10)}></li>
                    <a class="apply" href="/recruitment/ying?sort_id=314&id=<{$v['id']}>">应聘</a>
                    <a class="an" href="javascript:;">展开</a>
                    <li>
                        <div class="recruitment_text">
                            <{html_entity_decode($v['neirong'])}>
                        </div>
                    </li>
                </ul>
            <{/if}>
        <{/foreach}>
        <div class="page ">
            <ul class="clearfix">
                <{$pageinfo}>
            </ul>
        </div>
    </div>
<!--联系我们-->
<div class="bh_foot">
    <{include file="defualt/public/footer.html"}>
</div>
    <script src="<{$CUR_TPL_PATH}>js/jquery-3.3.1.min.js"></script>
    <script src="<{$CUR_TPL_PATH}>js/jquery.running.min.js"></script>
    <script src="<{$CUR_TPL_PATH}>js/bootstrap.js"></script>
    <script src="<{$CUR_TPL_PATH}>layui/layui.js"></script>
    <script src="<{$CUR_TPL_PATH}>js/index.js"></script>
</body>
<script>
   $(function(){
    //点击按钮时判断 百度商桥代码中的“我要咨询”按钮的元素是否存在，存在的话就执行一次点击事件
        $(".shangqiao").click(function(event) {
            if ($('#nb_invite_ok').length > 0) {
                $('#nb_invite_ok').click();
            }
        });
   })
</script>
</html>