<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
     	<directoryBrowse enabled="true" />
<!--         <httpErrors errorMode="Custom">
            <error statusCode="404" path="/application/front/views/templates/defualt/public/404page.html" responseMode="ExecuteURL" />
        </httpErrors> -->
		
        <rewrite>
            <rules>
			 <rule name="css js" stopProcessing="true">
                    <match url="^(.*)\.(css|js|png|jpg|woff|ttf|gif|php|html|txt|text|docx|doc)$" />
                    <action type="Rewrite" url="{R:0}" appendQueryString="true" />
                </rule> 
				
                <rule name="已导入的规则 1-1">
                    <match url="^admin(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^(.*)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="index.php?route=admin{R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^api(.*|\/|)$" />
                    <action type="Rewrite" url="index.php?route=api/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 331">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="index.php?route=front/{R:1}" appendQueryString="true" />
                </rule>  		
            </rules>
        </rewrite> 
<!--         <handlers>		  
            <add name="*.php" path="*.php" verb="*" modules="CgiModule" scriptProcessor="C:\phpStudy\PHPTutorial\php\php-7.0.12-nts\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" /> 
        </handlers> -->
    </system.webServer> 
</configuration> 