<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>联系我们_成都京东方</title>
<meta name="keywords" content="成都京东方" />
<meta name="description" content="提供成都京东方光电科技有限公司简介、官网、总部地、薪酬福利、办公环境等信息，具体联系方式请关注成都京东方" />  

<!-- <link type="text/css" rel="stylesheet" href="css/animate.min.css"> -->
<link type="text/css" href="<{$CUR_TPL_PATH}>boe1/bootstrap.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="<{$CUR_TPL_PATH}>boe1/style.css">
<link rel="stylesheet" type="text/css" href="<{$CUR_TPL_PATH}>boe1/engine/style.css" media="screen" />
<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/engine/jquery.js"></script>





</head>

<body style="height: 100%; font-size: 100%;">
<!-- head -->
<div class="pagescroll-hd" >
	<div class="top-inner">
		<div class="left-top">
			<h2><img class="logo" src="<{$CUR_TPL_PATH}>boe1/images/logo.png" /> 四川宝航人力资源管理有限公司</h2>
				<img class="navbtn" src="<{$CUR_TPL_PATH}>boe1/images/navbtn.png" alt="" />
		</div>
		<div class="right-top">咨询电话: 15982017809</div>
	</div>
	<div class="inner">
		<ul class="nav">
			<li><a href="/boe1?sort_id=317" >首页</a></li>
			<li><a href="/boe1about?sort_id=318" >公司简介</a></li>
			<li><a href="/boe1job?sort_id=319" >最新招聘</a></li>
			<!-- <li><a href="http://www.9115job.com/new/">新闻中心</a></li> -->
			<li><a href="/boe1address?sort_id=320" class="bottomline">联系我们</a></li>
		</ul>
	</div>
</div>
<div style="position:relative;" class="slideshow grid_12">
	<div class="holder">
		<!-- 主体部分 -->
		<div id="wowslider-container">
			<div class="ws_images" style="width:100%">
				
				<ul>
					<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner4.png" alt="123"  title="" /></a></li>
					<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner5.png" alt="456" title="" /></a></li>
					<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner6.png" alt="789" title="" /></a></li>
					
				</ul>
			</div>
			<div class="ws_bullets">
				<div>
					<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner4.png" alt="CSS3 Slider" /></a>
					<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner5.png" alt="CSS Slideshow" /></a>
					<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner6.png" alt="CSS Gallery" /></a>
					<!--<a href="#"><img src="images/data/tooltips/slide5new.jpg" alt="Video Support" /></a>-->	</div>
			</div>
		</div>
		<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/engine/wowslider.js"></script>
		<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/engine/script.js"></script>
	</div>
</div>


<div style="width:100%; text-align:left;">
  <div class="main-content-box main-content-addr">
   <h1><span style="color:#ff1a15;font-size: 22px">联系我们</span></h1><br />
   
	   <p><span style="width:80%;font-family: PingFangSC-Medium, sans-serif;letter-spacing:2px; text-align:center;color: #333;">
	   	<h2>四川宝航人力资源管理有限公司</h2>
		<p style="margin-top: 15px;">地址：中国(四川)自由贸易试验区成都高新区吉泰路五路88号T3栋44层3-5号(花样年·香年广场)</p>
		<div style="width: 920px ;border-bottom: 1px solid #eee;margin: 20px 0;"></div>
		<p style="margin-top: 15px;">合作服务热线：400-780-9660/028-60232271/18602854906</p>
		<a href="http://www.baohanghr.com/" target="_blank" class="buttom">进入官网</a>
	</span></p>
  </div>
</div>




<div class="foot adfoot">
  版权所有：四川宝航人力资源管理有限公司&nbsp;&nbsp;&nbsp;&nbsp;网站备案号：蜀ICP备17041877号-2   
</div>
<script>
	$('.navbtn').click(function(event) {
		$('.inner').toggleClass('innering')
	});
	
</script>
</body>
</html>