<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>公司简介_成都京东方</title>
<meta name="keywords" content="成都京东方,成都京东方光电科技有限公司" />
<meta name="description" content="成都京东方光电科技有限公司创立于1993年4月,是一家物联网技术、产品与服务提供商。核心事业包括显示器件、智慧系统和健康服务。产品广泛应用于手机、平板电脑、笔记本电脑、显示器、电视、车载、数字信息显示、健康医疗、金融应用、可穿戴设备等领域。" />  

<!-- <link type="text/css" rel="stylesheet" href="css/animate.min.css"> -->
<link type="text/css" href="<{$CUR_TPL_PATH}>boe1/bootstrap.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="<{$CUR_TPL_PATH}>boe1/style.css">
<link rel="stylesheet" type="text/css" href="<{$CUR_TPL_PATH}>boe1/engine/style.css" media="screen" />
<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/engine/jquery.js"></script>


<!-- <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0e914b0992132eb73dc27303a01ad124";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script> -->


</head>

<body style="height: 100%; font-size: 100%;">
<!-- head -->
<div class="pagescroll-hd" >
	<div class="top-inner">
		<div class="left-top">
			<h2><img class="logo" src="<{$CUR_TPL_PATH}>boe1/images/logo.png" /> 四川宝航人力资源管理有限公司</h2>
				<img class="navbtn" src="<{$CUR_TPL_PATH}>boe1/images/navbtn.png" alt="" />
		</div>
		<div class="right-top">咨询电话: 15982017809</div>
	</div>
	<div class="inner">
		<ul class="nav">
			<li><a href="/boe1?sort_id=317" >首页</a></li>
			<li><a href="/boe1about?sort_id=318" class="bottomline">公司简介</a></li>
			<li><a href="/boe1job?sort_id=319" >最新招聘</a></li>
			<!-- <li><a href="http://www.9115job.com/new/">新闻中心</a></li> -->
			<li><a href="/boe1address?sort_id=320">联系我们</a></li>
		</ul>
	</div>
</div>
<div style="position:relative;" class="slideshow grid_12">
	<div class="holder">
		<!-- 主体部分 -->
		<div id="wowslider-container">
			<div class="ws_images" style="width:100%">
				
				<ul>
					<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner4.png" alt="123"  title="" /></a></li>
					<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner5.png" alt="456" title="" /></a></li>
					<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner6.png" alt="789" title="" /></a></li>
					
				</ul>
			</div>
			<div class="ws_bullets">
				<div>
					<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner4.png" alt="CSS3 Slider" /></a>
					<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner5.png" alt="CSS Slideshow" /></a>
					<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner6.png" alt="CSS Gallery" /></a>
					<!--<a href="#"><img src="images/data/tooltips/slide5new.jpg" alt="Video Support" /></a>-->	</div>
			</div>
		</div>
		<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/engine/wowslider.js"></script>
		<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/engine/script.js"></script>

	</div>
</div>


<div class="main-content">
	<div class="main-content-box">
		<h3><div class="main-content-round"></div>成都京东方光电科技有限公司</h3>
		<div class="main-content-top">
	   	<p>成都京东方光电科技有限公司（简称“BOECD”）成立于2007年9月，是由京东方科技集团股份有限公司投资组建的研发、设计、生产、销售各类中小尺寸薄膜晶体管液晶显示器面板（TFT-LCD）及相关产品的高科技企业。注册资金为18.3亿元人民币。达产后的员工总数约1200人。公司总投资34亿元人民币，月产能3万片的第4.5代液晶显示器件（TFT-LCD）生产线已于2009年正式投产，成为中国西部首条实现量产的液晶面板生产线，也是中国大陆惟一实现彩色滤光片和液晶面板集成化生产的全自动化生产线。公司产品广泛应用于12.1英寸以下的笔记本电脑、平板电脑、数码相框、移动显示、手机等领域，已和三星电子在内的多家国内外客户达成合作关系。</p>
	   	<div class="main-content-x"></div>
	   	<h3 style="text-align: center;"><div class="main-content-round"></div>宝航人力-人力资源解决方案提供商</h3>
		<div class="main-content-top">
	   	<p>四川宝航人力资源管理有限公司创立于2011年，是国内专业的蓝领人力资源综合解决方案的提供商，致力于解决新老蓝领就业、职业发展问题。 宝航成立以来，累计安置就业员工超过10万人次，为促进就业做出了很大的贡献！ 在西南地区宝航获得了企业、政府、劳务员工一致好评。合作客户200余家，每年输出劳务人力10000余人，同时宝航人力是四川省人才协会副理事长单位、成都人力资源协会副会长单位。2014年度、2015年度、2016年度连续三年被四川省人才协会评为诚信服务单位,2015年度被中国人力资源协会评为全国优秀人力资源服务单位。</p>
	   	<div class="main-content-x"></div>
	   	<div class="main-content-y"></div>
	   	<div class="main-content-left">
	   		<h3><div class="main-content-round"></div>丰富产品结构，优化人力资源配置</h3>
	   		<p style="padding-top: 10px;">
			宝航的产品主要以蓝领人力资源服务产品为主导，分别有人才外包（HRO，含国内俗称的劳务派遣）、招聘流程外包（RPO）、薪税保服务（Payroll Tax）、业务外包（BPO）。</p></div>
		<div class="main-content-right">
			<h3><div class="main-content-round"></div>追求高品质，寻求高目标</h3>
			<p style="padding-top: 10px;">
			宝航产品的主要特点是围绕新老蓝领群体求职、在职、转职、技能提升等开展以线上平台招聘为依托，以线下体验店、现场直面会为服务载体的人才外包、业务外包、招聘流程外包等特色服务。</p></div> 
	</div>
	<div style="clear:both;"></div>
	</div>
</div>
<div>

</div>

<div class="foot">
  版权所有：四川宝航人力资源管理有限公司&nbsp;&nbsp;&nbsp;&nbsp;网站备案号：蜀ICP备17041877号-2   
</div>
<!-- <script>
	$('.navbtn').click(function(event) {
		$('.inner').toggleClass('innering')
	});
	
</script> -->
</body>
</html>