<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>成都京东方招聘,找工作_成都京东方工资待遇-成都京东方光电科技有限公司</title>
<meta name="keywords" content="成都京东方,成都京东方找工作,成都京东方工资，成都京东方面试,成都京东方待遇,成都京东方招聘,成都京东方光电科技有限公司" />
<meta name="description" content="成都京东方光电科技有限公司怎么样？已有1462名成都京东方光电科技有限公司员工进行爆料，详情查看成都京东方光电科技有限公司待遇工资、面试经验、最新招聘、点评评价，此外还提供成都京东方光电科技有限公司简介、官网、总部地、薪酬福利、办公环境等信息" />   
<!-- <link type="text/css" rel="stylesheet" href="css/animate.min.css"> -->
<link type="text/css" href="<{$CUR_TPL_PATH}>boe1/bootstrap.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="<{$CUR_TPL_PATH}>boe1/style.css">
<link rel="stylesheet" type="text/css" href="<{$CUR_TPL_PATH}>boe1/engine/style.css" media="screen" />
<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/jquery.min.js"></script>
<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/bootstrap.js"></script>
<!-- <meta name="360-site-verification" content="118dc01c12f134072f1e5fe744cd8d37" />
<meta name="baidu-site-verification" content="p5fXwMOHiT" /> -->
<!-- <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?af73633e96e8ff1b6ab626e3c88ebf76";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

</script> -->


</head>

<body style="font-size: 100%;">
	<!-- head -->
	<div class="pagescroll-hd" >
		<div class="top-inner">
			<div class="left-top">
				<h2><img class="logo" src="<{$CUR_TPL_PATH}>boe1/images/logo.png" /> 四川宝航人力资源管理有限公司</h2>
				<img class="navbtn" src="<{$CUR_TPL_PATH}>boe1/images/navbtn.png" alt="" />
			</div>
			<div class="right-top">咨询电话: 15982017809</div>
		</div>
		<div class="inner">
			<ul class="nav">
				<li><a href="/boe1?sort_id=317" class="bottomline">首页</a></li>
				<li><a href="/boe1about?sort_id=318">公司简介</a></li>
				<li><a href="/boe1job?sort_id=319" >最新招聘</a></li>
				<!-- <li><a href="http://www.9115job.com/new/">新闻中心</a></li> -->
				<li><a href="/boe1address?sort_id=320">联系我们</a></li>
			</ul>
		</div>
	</div>
	<!-- banner -->
	<div style="position:relative;" class="slideshow grid_12">
		<div class="holder">
			<!-- 主体部分 -->
			<div id="wowslider-container">
				<div class="ws_images" style="width:100%">
					
					<ul>
						<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner4.png" alt="123"  title="" /></a></li>
						<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner5.png" alt="456" title="" /></a></li>
						<li><a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner6.png" alt="789" title="" /></a></li>
						
					</ul>
				</div>
				<div class="ws_bullets">
					<div>
						<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner4.png" alt="CSS3 Slider" /></a>
						<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner5.png" alt="CSS Slideshow" /></a>
						<a href="#"><img src="<{$CUR_TPL_PATH}>boe1/images/banner6.png" alt="CSS Gallery" /></a>
						<!--<a href="#"><img src="images/data/tooltips/slide5new.jpg" alt="Video Support" /></a>-->	</div>
				</div>
			</div>
			<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/engine/wowslider.js"></script>
			<script type="text/javascript" src="<{$CUR_TPL_PATH}>boe1/engine/script.js"></script>
			
		</div>
	</div>

	<!-- 主体部分. -->
	<div class="main-content">
		<div class="main-content-box home-style ">
			<h3>成都京东方光电科技有限公司招聘简章</h3>
			<h3 style="margin:20px 0;"><span>自主选择上四休二/上六休二/国企直签/晋升渠道好/包吃住</span></h3>
			<p><b><span>每月能拿多少钱： 月综合收入3500-6000<br>构成：基本工资+加班工资+倒班津贴+业绩工资+其他补贴</span></b></p>
			<p>1、中专、高中底薪1800；<br>
			   2、大专底薪1900；<br>
               3、中专、高中按1800元基数算加班工资，大专按1900元基数算加班工资，<span>平时超出8小时工作时间付1.5倍工资，法定节假日付3倍工资。</span>（轮休制轮到周末不算加班）<br>
			   4、倒班津贴：<span>35元/晚</span>；<br>
               5、业绩工资：根据整体业绩给与发放0-800元不等；表现优异业绩奖金就高。<br>
               6、各种补贴。<br>
           </p>
           <h2><div class="main-content-round"></div>福利及晋升空间怎么样？</h2>
           <p>1、<span>免费住宿</span>，面试通过后的第二天安排入住（水电费自理）：四-六人间，配套设施齐全（电视、空调、独立卫浴、24h热水、篮球场、羽毛球场）<br>
			2、<span>免费餐饮</span>：包三餐工作餐餐食美味且丰富，当月餐补余额以工资形式返还工资卡；（入职当天即发餐卡，刷卡就餐）<br>
			3、<span>免费班车</span>：上下班公司与公寓、市区间有来往班车。<br>
			4、<span>礼金</span>：节日礼金、生日贺金、高温补贴金100-600元不等。<br>
			5、<span>体检</span>：入职当天统一安排体检，费用66元（凭票报销），等于免费健康体检；面试当天需缴纳体检费，费用请告知求职者提前自备。<br>
			6、<span>其他补助</span>：春节300元，结婚贺金600元，丧葬慰问金600元。<br>
			7、<span>入职即买社保，每年1月、7月可申请购买公积金</span>。<br>
			8、员工→班组长→可晋升车间主管→助理工程师→工程师→高级工程师→车间经理。</p>	
			<h2><div class="main-content-round"></div>上班时间：</h2>
			<p>早八晚八/晚八早八，均需倒班、着无尘服，<span>上四休二或上六休二</span>，班次可提前告知班组意愿进行分配，岗位有坐有站。<br>
			发薪日：<span>每月15日 </span></p>

			<h2 style="font-size: 22px;" class="textcenter">【京东方简介】</h2>
			<p>京东方科技集团股份有限公司创立于1993年4月，成都京东方光电科技有限公司（简称“BOECD”）成立于2007年9月，是由京东方科技集团股份有限公司投资组建的研发、设计、生产、销售各类中小尺寸薄膜晶体管液晶显示器面板（TFT-LCD）及相关产品的高科技企业。成都京东方总投资499亿元，中国首条柔性屏生产线。位于成都市高新西区，现目前员工总数约12000人左右，目前处于量产冲刺阶段，大量储备干部岗位空缺。</p>


			<div class="abtn">
			  	<a href="/boe1jobadd?sort_id=321" class="buttom" >立即报名</a>
			</div>

			<div style="height: 60px;"><div class="main-content-x"></div></div>
			
			<h3 class="col-xs-12">厂区及住宿区域</h3>
			<div class="main-content-left" style="text-align: right;">
				<img src="<{$CUR_TPL_PATH}>boe1/images/factory.png" class="col-xs-12">
				<img src="<{$CUR_TPL_PATH}>boe1/images/activity.png" class="col-xs-12">
			</div>
			<div class="main-content-right" style="text-align: left;">
				<img src="<{$CUR_TPL_PATH}>boe1/images/stay.png" class="col-xs-12">
				<img src="<{$CUR_TPL_PATH}>boe1/images/canteen.png" class="col-xs-12">
			</div>
			<div style="clear:both;"></div>
			
		</div>
	</div>
	<div class="foot">
	  版权所有：四川宝航人力资源管理有限公司&nbsp;&nbsp;&nbsp;&nbsp;网站备案号：蜀ICP备17041877号-2   
	</div>



	<script>
		$('.navbtn').click(function(event) {
			$('.inner').toggleClass('innering')
		});
		
	</script>
</body>
</html>