
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <{include file="defualt/public/seo.html"}>
    <link href="<{$CUR_TPL_PATH}>css/bootstrap.css" rel="stylesheet">
    <link href="<{$CUR_TPL_PATH}>layui/css/layui.css" rel="stylesheet">
    <link href="<{$CUR_TPL_PATH}>css/main.css" rel="stylesheet">
    <script src="<{$CUR_TPL_PATH}>js/flexable.js"></script>
</head>
<body>
<!--导航区域-->
<div class="bh_nav_box">
    <{include file="defualt/public/header.html"}>
</div>

    <!--banner区域-->
    <div class="bh_banner bh_banner-product">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="<{$banner['lianjie']}>" target="_blank">
                        <img class="banner_06" src="<{$banner['suoluetu']}>" alt="<{$banner['tupianalt']}>" title="<{$banner['tupians']}>">
                    </a>
                    <!-- <img class="banner_06_small" src="<{$banner['shoujiduantupian']}>" alt="<{$banner['tupianalt']}>" title="<{$banner['tupians']}>"> -->
                    <div class="carousel-caption"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-product">
        <a href="<{$banner['lianjie']}>">
            <img src="<{$banner['shoujiduantupian']}>" alt="<{$banner['tupianalt']}>">
        </a>
    </div>

    <!--tab切换区域-->
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <div class="swiper-container " id="fiexd_title2">
            <ul class="layui-tab-title swiper-wrapper">
                <{foreach $sortList as $v}>
                    <{if $v['id']==310}>
                        <{foreach $v['child'] as $vv}>
                            <{if $sort==$vv['id']}>
                            <li class="layui-this swiper-slide">
                                <a href="<{$vv['u5']}>"><{$vv['u1']}></a></li>
                            <{else}>
                                <li class="swiper-slide"><a href="<{$vv['u5']}>"><{$vv['u1']}></a></li>
                            <{/if}>
                        <{/foreach}>
                    <{/if}>
                <{/foreach}>
            </ul>
        </div>
        <!--面包屑导航-->
<!--         <div id="nav_crumbs2">
            <a href="<{$sortList[0]['u5']}>"><{$sortList[0]['u1']}>>
                <a href="<{$sortList[5]['u5']}>"><{$sortList[5]['u1']}>>
                    <a href="javascript:;"><{$mingList}></a>
                </a>
            </a>
        </div> -->
        <div class="layui-tab-content">
        <!--企业新闻-->
            <div class="layui-tab-item layui-show">
                <div class="news_container">
                    <div class="news_top clearfix">
                        <span class="news_top_left">
                            <a href="/new/detail?id=<{$tableList[0]['id']}>&sort_id=310&sort=<{$sort}>">
                                <img src="<{$tableList[0]['suoluetu']}>" alt="<{$tableList[0]['tupianalt']}>" title="<{$tableList[0]['tupians']}>">
                            </a>
                        </span>
                            <span class="news_top_right">
                                <a class="news_top_right_text" href="/new/detail?id=<{$tableList[0]['id']}>&sort_id=310&sort=<{$sort}>">
                                    <h1><{$tableList[0]['biaoti']}></h1>
                                    <p><{$tableList[0]['jianjie']}></p>
                                    <p><{$tableList[0]['dtime']}></p>
                                    <p>查看详情</p>
                                </a>
                            </span>
                    </div>
                </div>
                <div class="news_container02_bg">
                    <div class="news_container02">
                        <div class="news_list">
                            <ul>
                                <{foreach $tableList as $k=>$v}>
                                    <{if $k!=0}>
                                        <li>
                                            <a href="/new/detail?id=<{$v['id']}>&sort_id=310&sort=<{$sort}>">
                                                <span>
                                                    <p><{mb_substr($v['dtime'],0,4)}></p>
                                                    <p><{mb_substr($v['dtime'],6,5)}></p>
                                                </span>
                                                <h3><{$v['biaoti']}></h3>
                                                <p><{$v['jianjie']}></p>
                                                <span><img src="<{$v['suoluetu']}>" alt="<{$v['tupianalt']}>" title="<{$v['tupians']}>"></span>
                                            </a>
                                        </li>
                                    <{/if}>
                                <{/foreach}>
                            </ul>
                        </div>
                        <div class="page ">
                            <ul class="clearfix">
                                <{$pageinfo}>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--联系我们-->
<div class="bh_foot">
    <{include file="defualt/public/footer.html"}>
</div>

    <script src="<{$CUR_TPL_PATH}>js/jquery-3.3.1.min.js"></script>
    <script src="<{$CUR_TPL_PATH}>js/jquery.running.min.js"></script>
    <script src="<{$CUR_TPL_PATH}>js/bootstrap.js"></script>
    <script src="<{$CUR_TPL_PATH}>layui/layui.js"></script>
    <script src="<{$CUR_TPL_PATH}>js/index.js"></script>
    <script src="<{$CUR_TPL_PATH}>js/swiper-4.3.3.min.js"></script>
<script>
//    tab切换功能
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
<!--移动端滑动导航-->
<script>
    $(function () {
        var swiper = new Swiper('.swiper-container', {
            spaceBetween: 0,
            slidesPerView:'auto',
            freeMode: true
        });
    })
</script>
<script>
   $(function(){
    //点击按钮时判断 百度商桥代码中的“我要咨询”按钮的元素是否存在，存在的话就执行一次点击事件
        $(".shangqiao").click(function(event) {
            if ($('#nb_invite_ok').length > 0) {
                $('#nb_invite_ok').click();
            }
        });

        var offs = $('#fiexd_title2').offset();
        // $(window).scroll(function() {
        //     if(IsPC()){
        //       scrollLis($('#fiexd_title2'),offs);
        //     } 
        // });
   })
</script>
</body>
</html>