
<div class="bh_contact clearfix">
    <div class="bh_contact_container">
        <!-- <a href="javascript:;" class="contact_jiantou"><img src="<{$CUR_TPL_PATH}>images/home/contact_jiantou.png" alt=""></a> -->
        <div class="bh_contac_tit">
            <span class="contac_tit_line_left"></span>
            <h3>contact</h3>
            <span class="contac_tit_line_right"></span>
        </div>
        <div class="bh_contact_box">
            <ul class="clearfix" style="text-align: center;">
                <li>
                    <!-- <div class="img_box">
                        <img src="<{$dibu['erweima']}>" alt="">
                    </div>
                    <span><{$dibu['biaoti']}></span> -->
                </li>
                <li>
                   <!--  <div class="img_box">
                        <img src="<{$dibu['erweima2']}>" alt="">
                    </div>
                    <span><{$dibu['biaoti2']}></span> -->
                </li>
                <li>
                    <h1><{$dibu['dibumiaoshu']}></h1>
                    <p>地址：<{$dibu['dizhi']}></p>
                    <p>合作服务热线：<{$dibu['fuwurexian']}></p>
                    <p>投诉热线：<{$dibu['tousurexian']}></p>
                </li>
                <li>
                    <!-- <img class="contact_pic" src="<{$CUR_TPL_PATH}>images/home/contact_pic.jpg" alt="">
                    <p>邮编：<{$dibu['youbian']}></p> -->
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="foot">
    <p><{$dibu['beianhao']}>
     <!-- <a href="/index/daohang">网站地图</a> -->
    </p>
</div>

<script src="<{$CUR_TPL_PATH}>js/jquery-3.3.1.min.js"></script>
<!-- <script>
	var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?532e05ebec4cf18759fab388332fcc60"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); 
</script> 
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=13406818"></script> -->

